.card {
  display: flex;
  background-color: transparent;
  border-radius: 10px;

  width: clamp(120px, 15.5vw, 180px);
  height: clamp(150px, 18.5vw, 210px);

  z-index: 2;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  perspective: 1000px;
  backface-visibility: hidden;
}
.photo-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(100px, 13vw, 150px);
  height: clamp(130px, 16vw, 180px);
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  background-image: url(../assets/card-border.png);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card.flipped .card-inner {
  transform: rotateY(180deg);
}
.card-back {
  transform: rotateY(180deg);
}
