.action-background {
  width: clamp(50px, 6vw, 70px);
  height: clamp(50px, 6vw, 70px);
  border-radius: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}
.photo-action {
  width: 70%;
  height: 70%;
}
.footer-container {
  display: flex;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
}
.action-background:hover {
  transform: scale(1.1);
}
.action-container {
  display: flex;
  gap: 20px;
}
.round-container {
  color: var(--main-color);
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: clamp(30px, 5vw, 50px);
  display: flex;
  align-items: end;
  justify-content: center;
}
