.action-background {
  width: clamp(20px, 6vw, 70px);
  height: clamp(20px, 6vw, 70px);
  border-radius: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.photo-action {
  width: 70%;
  height: 70%;
}
.footer-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
